<div class="col-sm-12 card-container">
    <span class="col-sm-3">
        <app-query-total></app-query-total>
    </span>
    <span class="col-sm-3">
        <app-query-blocked></app-query-blocked>
    </span>
    <span class="col-sm-3">
        <app-query-percent></app-query-percent>
    </span>
    <span class="col-sm-3">
        <app-blocklist-domains></app-blocklist-domains>
    </span>
</div>

<br />

<div class="col-sm-12 card-container">
    <span class="col-sm-7">
        <app-total-queries-graph></app-total-queries-graph>
    </span>
    <span class="col-sm-5">
        <app-query-ans-graph></app-query-ans-graph>
    </span>
</div>

<br />

<div class="col-sm-12 card-container">
    <span class="col-sm-5">
        <app-query-types-graph></app-query-types-graph>
    </span>
    <span class="col-sm-7">
        <app-client-activity-graph></app-client-activity-graph>
    </span>
</div>

<br />

<div class="col-sm-12 card-container">
    <span class="col-sm-6">
        <app-top-permitted-domains></app-top-permitted-domains>
    </span>
    <span class="col-sm-6">
        <app-top-blocked-domains></app-top-blocked-domains>
    </span>
</div>

<br />

<div class="col-sm-12 card-container">
    <span class="col-sm-6">
        <app-top-clients-all></app-top-clients-all>
    </span>
    <span class="col-sm-6">
        <app-top-clients-blocked></app-top-clients-blocked>
    </span>
</div>