<div class="card">
    <div class="card-body">
        <div class="inner">
            <p>Top Blocked Domains</p>
        </div>
        <div class="chart-fh">
            <table class="table">
                <thead>
                  <tr>
                    <th>Domain</th>
                    <th>Hits</th>
                    <th>Frequency</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                  </tr>
                </tbody>
            </table>            
        </div>
    </div>
</div>