<footer class="footer">
    <div class="footer__container">
        <div class="col-sm-12 footer__maindiv">
            <div>
                <span class="footer__span">
                    <i class='bx bxs-heart nav__error-status' style="vertical-align: middle;"></i>&nbsp;
                    <span style="vertical-align: middle;">Donate if you found this useful.</span>
                </span>
            </div>
            <br />
            <div>
                <span class="footer__span">
                    Version 1.0
                </span>
            </div>
        </div>
    </div>
</footer>