<div class="card">
    <div class="card-body">
        <div class="inner">
            <p>Client activity over last 24 hours</p>
        </div>
        <div class="chart-fh">
            <ngx-charts-bar-vertical-stacked
            [scheme]="colorScheme"
            [results]="data"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [legendPosition]="legendPosition"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [legendTitle]="legendTitle"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)">
            </ngx-charts-bar-vertical-stacked>
        </div>
    </div>
</div>