.vertical-center-inner {
    padding: 0rem 0rem;
}

.header__logo {
    display: inline-block;
    width: 50%;
    height: 50%;
    max-width: 50%;
    max-height: 50%;
}

strong{
    color: var(--textSecondaryColor);
}

@media screen and (min-width: 768px){
    .header__logo {
        display: inline-block;
        width: 50%;
        height: 50%;
        max-width: 50%;
        max-height: 50%;
    }
    .vertical-center-inner {
        padding: 0% 15%;
    }
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .header__logo {
        display: inline-block;
        width: 40%;
        height: 40%;
        max-width: 40%;
        max-height: 40%;
    }
}